
  <section id="bodyCotainer">
            <!-- Flight Search From Starts -->
            <div class="filterSearchFilter">
                <aside id="flightSearch">
                    <form name="searchFlight">
             <div class="radio-toolbar">
                            <input type="radio" id="radioOneWay" name="trip" value="One Way" checked>
                            <label for="radioOneWay">One Way</label>

                            <input type="radio" id="radioRoundTrip" name="trip" value="Round Trip">
                            <label for="radioRoundTrip">Round Trip</label>
                        </div>
                        <div class="sourceDesination">
                        <select class="form-select"
                        name="fromAirport" [(ngModel)]="infoData.fromAirport">
                            <option value="">Select Airport</option>
 <option *ngFor="let arr of airports" [value]="arr.airportId">{{arr.airportName}} , {{arr.cityName}}</option>
                        </select>
                        </div>
                        <div class="sourceDesination">
                            <select class="form-select"
                            name="toAirport" [(ngModel)]="infoData.toAirport">
                            <option value="">Select Airport</option>
 <option *ngFor="let arr of airports" [value]="arr.airportId">{{arr.airportName}} , {{arr.cityName}}</option>
                        </select>
                        </div>
                        <div id="depatureDate">
                            <input type="date" 
                            name="travelDate" [(ngModel)]="infoData.travelDate"
                            placeholder="Travel Date" 
                                 />
                        </div>
                        <div id="returnDate">
                            <input type="text" placeholder="Return Date"/>
                        </div>
                        <div>
                            <input type="number" id="noOfTravelers"  min="1"
                                max="8" placeholder="Number of Travelers">
                        </div>
                        <div>
                            <input id="searchBtn" type="button" (click)="searchFlight()" value="Search" />
                            
                        </div>
                    </form>
                </aside>
                <div class="filterDetails">
                    <div id="showFilter" class="showFilter"></div>
                    <div id="showFilterRoundTrip" class="showFilter"></div>
                </div>
            </div>
            <!-- Flight Search From Ends -->
            <!-- Flight List From Starts -->
            <div id="FlightResult">
                 
                <div class="flightOnward flightResultWrapper" style="display: block;padding: 1% !important;">
                    <div class=" ">
                        <div class="row">
                            <div class="col-5">
                                <div class="headerStartingDate">
                                    <h4 class="headStartLoc">{{arportCities.departureCity}}</h4>
                                    <p class="headStartDate">2024-03-06</p>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <i style="padding-top: 25%;" class="exchangeIc fa fa-long-arrow-right"></i>
                            </div>
                            <div class="col-5 text-end">
                                <div class="headeReturnDate">
                                    <h4 class="headEndLoc">{{arportCities.arrivalCity}}</h4>
                                    <p class="headEndDate">2024-03-06</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
                <div class="flightOnward flightResultWrapper" style="display: block;padding: 1% !important;">
                    <div class="row">
                        <div class="col-3">
                            Flight Name
                        </div>
                        <div class="col-2">
                            Departure
                        </div>
                        <div class="col-2">
                            Arrival
                        </div>
                        <div class="col-3">
                            Fare 
                        </div>
                        <div class="col-2">
                             
                        </div>
                    </div>
                </div>
                <div class="flightOnward flightResultWrapper"
                *ngFor=" let flight of flightList"
                style="display: block;padding: 1% !important;">
                    <div class="row">
                        <div class="col-3"> 
                            <div class="row">
                                <div class="col-4">
                                    <img class="logo" [src]="flight.vendorLogoUrl">
                                </div>
                                <div class="col-8">
                                    <div>{{flight.vendorName}}</div>
                                    <div>{{flight.flightNumber}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"> {{flight.departureTime}}
                        </div>
                        <div class="col-2">  {{flight.arrivalTime}}
                        </div>
                        <div class="col-3">{{flight.price}}
                        </div>
                        <div class="col-2">
                            <input type="button" class="bookTicBtn"
                            value="Book Now"
                            (click)="bookTickets(flight.flightId)"
                            >
                        </div>
                    </div>
                </div>
                
                
                
            </div>
            <!-- Flight List From Ends -->
        </section>
     
<div class="modal"  #bookTicket>
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
           
        </button>
      </div>


      <div class="modal-body">
      <div class="row">
        <div class="col-3">
            <label for="">Name</label>
            <input type="text" class="form-control"
            name="" [(ngModel)]="passengerObj.travelerName">
        </div>
         <div class="col-3">
            <label for="">Contact Num</label>
            <input type="text" class="form-control"
            [(ngModel)]="passengerObj.contactNo">
        </div>
         <div class="col-3">
            <label for="">Aadhar Num</label>
            <input type="text" class="form-control"
            [(ngModel)]="passengerObj.aadharNo">
        </div>
        <div class="col-3">
          <button class="btn btn-primary" type="button" (click)="addPassenger()">Add </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr> 
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Conatct Num</th>
                        <th>Aadhar Num</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let ir of passengerList; let i = index">
                   <td>{{i+1}}</td>
                   <td>{{ir.travelerName}}</td>
                   <td>{{ir.contactNo}}</td>
                   <td>{{ir.aadharNo}}</td>
                </tr>
            </tbody>
            </table>
        </div>
      </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onBookTicket()">Book Ticket</button>
      </div>

    </div>
  </div>
</div>


